#page-card {
    /* max-width: 42rem; */
    margin-bottom: 0.2rem;
    overflow: visible;
    border: 1px solid rgb(226 232 240);
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

#page-card [role="tablist"] {
    display: flex;
    border-bottom: 1px solid rgb(226 232 240);
    background-color: white;
}

#page-card [role="tab"] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
    flex: 1;
    padding: 0.75rem 1rem;
    text-align: center;
}

#page-card [role="tab"][aria-selected="true"] {
    border-bottom: 2px solid rgb(37 99 235);
    background-color: rgb(147 197 253);
    font-weight: 600;
}

#page-card [role="tabpanel"] {
    padding: 1rem;
    overflow-x: auto;
}

#page-card [hidden] {
    display: none;
}