body {
    font-family: Arial, sans-serif;
}
td {
    vertical-align: top;
}
div#online_calculator {
    border: 4px solid lightskyblue;
    border-radius: 16px;
    padding: 10px 80px 20px 80px;
    display: inline-block;
    background: lightblue;
    box-shadow: 0 4px 16px lightskyblue;
}